$cd-btn: #011c37;
$cd-txt: #15dea5;

@mixin center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  @include center-vertical;
}
.btn {
  background: $cd-btn;
  color: $cd-txt;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  transition: transform 400ms;
  &:hover {
    transform: scale(1.15);
  }
}
