$cd-primary: #6300a0;
$ball-size: 200px;
$cd-secondary: yellow;

@mixin center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  @include center-vertical;
}

.btn {
  background: $cd-primary;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  &:active + .ball {
    transform: scale(1);
  }
}
.ball {
  width: $ball-size;
  height: $ball-size;
  background: $cd-secondary;
  margin-bottom: 1rem;
  border-radius: $ball-size * 0.5;
  transform: scale(0.1);
  transition: transform 4000ms;
}
